<%- include ('_layouts/header1') %> 

<main class="l-main">
    <!--========== HOME ==========-->
    <section class="home" id="home">
        <div class="home__container bd-container bd-grid">
            <div class="home__data">
                <h1 class="home__title">The king's</h1>
                <h2 class="home__subtitle">Try the best & latest <br> trendy wears.</h2>
                <a href="/products/" class="button">Explore Now</a>
            </div>

            <!-- <img src="assets/img/logo.jpg" alt="" class="home__img"> -->
            <img src="/images/logo.png" alt="" class="home__img">
        </div>
    </section>
    <br> <br>
    <h2 class="section-title">Welcome to The King's Luxury Wears</h2>


    <!--========== Latest Products ==========-->
    <section class="menu section bd-container" id="menu">
        <h2 class="section-title">Latest Products</h2>

        <div class="menu__container bd-grid">
        <% latestProducts.forEach(product => { %>
                <div class="menu__content">
                    <img src="/product_images/<%= product.id %>/<%= product.image %>" alt="" class="menu__img">
                    <h3 class="menu__name"><%= product.title %></h3>
                    <span class="menu__detail"><a href="/products/<%= product.category %>/<%= product.slug %>">View Details</a></span>
                    <span class="menu__preci">&#8358;<%= parseFloat(product.price).toFixed(2) %></span>
                    <a href="/cart/add/<%= product.slug %>" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                </div>
            <% }) %> 
        </div><br><br>
        <div class="menu__container bd-grid">
            <a href="/products/" class="button center">View All Products</a>
        </div>
    </section>

    <!--========== Home-product ==========-->
    <% homeProducts.forEach(product => { %>
        <% if (product.type == "discount") { %>
        <!--========== Discount-product ==========-->
        <section class="menu section bd-container">
            <h2 class="section-title">Discount Products</h2>
            <div class="menu__container bd-grid">
                <div class="menu__content">
                    <img src="/home_images/<%= product.id %>/<%= product.image %>" alt="" class="menu__img">
                    <h3 class="menu__name"><%= product.title %></h3>
                    <span class="menu__detail"><a href="/home-page/<%= product.slug %>">View Details</a></span>
                    <span class="menu__preci">&#8358;<%= parseFloat(product.price).toFixed(2) %></span>
                    <del>&#8358;<%= parseFloat(product.discountPrice).toFixed(2) %> </del> <br> <br>
                    <a href="/cart/add/home-page/<%= product.slug %>" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                </div>
            </div>
        </section>
        <% } else {%>
        <!--========== Offer-product ==========-->
        <section class="menu section bd-container">
            <h2 class="section-title">Latest Offers</h2>
            <div class="menu__container bd-grid">
                <div class="menu__content">
                    <img src="/home_images/<%= product.id %>/<%= product.image %>" alt="" class="menu__img">
                    <h3 class="menu__name"><%= product.title %></h3>
                    <span class="menu__detail"><a href="/home-page/<%= product.slug %>">View Details</a></span>
                    <span class="menu__preci">&#8358;<%= parseFloat(product.price).toFixed(2) %></span>
                    <del>&#8358;<%= parseFloat(product.discountPrice).toFixed(2) %> </del> <br> <br>
                    <a href="/cart/add/home-page/<%= product.slug %>" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                </div>
            </div>
        </section>
        <% } %>
    <% }) %>
    
    <!--===== APP =======-->
    <!-- <section class="app section bd-container">
        <div class="app__container bd-grid">
            <div class="app__data">
                <span class="section-subtitle app__initial">App</span>
                <h2 class="section-title app__initial">App is aviable</h2>
                <p class="app__description">Find our application and download it, you can make reservations, food orders, see your deliveries on the way and much more.</p>
                <div class="app__stores">
                    <a href="#"><img src="assets/img/app1.png" alt="" class="app__store"></a>
                    <a href="#"><img src="assets/img/app2.png" alt="" class="app__store"></a>
                </div>
            </div>

            <img src="assets/img/movil-app.png" alt="" class="app__img">
        </div>
    </section> -->

</main>


<%- include ('_layouts/footer1') %> 