<%- include ('../views/_layouts/adminheader1') %> 
<section class="about section bd-container">
    <div class="containermax">
        <h1 class="page-title">Categories</h1>
        <a href="/admin/categories/add-category" class="button">Add a new Category</a>
        <br> <br><br><br>

        <% if (count > 0) { %>

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>

                <% categories.forEach(cat => { %>

                <tr>
                    <td> <%= cat.title %>  </td>
                    <td><a href="/admin/categories/edit-category/<%= cat.id %>">Edit</a></td>
                    
                    <td><a class="confirmDeletion" href="/admin/categories/delete-category/<%= cat._id %>">Delete</a></td>
                    
                </tr> 

                <% }) %>

            </tbody>

        </table>

        <% } else { %>
            <h3 class="text-center">There are no products</h3>
        <% } %>
    
    </div>
    <br><br><br>

    <div class="menu__container pagination">
        <ul>
          <!--pages or li are comes from javascript -->
        </ul>
    </div> 

</section>

<script>
    // selecting required element
    const element = document.querySelector(".pagination ul");
    let totalPages = <%= totalPages %>;
    let page = <%= page %>;
    
    // if(page < 1) {
    //   page = 1
    // }

    //calling function with passing parameters and adding inside element which is ul tag
    element.innerHTML = createPagination(totalPages, page);
    function createPagination(totalPages, page) {
    let liTag = "";
    let active;
    let beforePage = page - 1;
    let afterPage = page + 1;
    //   console.log(afterPage);
    //   if (page == 1 ){
    //       if (beforePage <= 0){
    //           if (afterPage == 2){
    //               liTag += `<li class="first numb" onclick="createPagination(totalPages, 1)"><a href="/admin/categories/page"><span>1</span></a></li>`;
    //           }
    //       }
    //   }
    if (page > 1) {
        //show the next button if the page value is greater than 1
        liTag += `<li class="btn2 prev" onclick="createPagination(totalPages, ${
        page - 1
        })"><a href="/admin/categories/page/${page - 1 }/${totalPages}"><span>Prev</span></a></li>`;
    }

    if (page > 2) {
        //if page value is less than 2 then add 1 after the previous button
        // liTag += `<li class="first numb" onclick="createPagination(totalPages, 1)"><a href="/admin/categories/page"><span>1</span></a></li>`;
        if (page > 3) {
        //if page value is greater than 3 then add this (...) after the first li or page
        liTag += `<li class="dots"><span style="color: #069C54">...</span></li>`;
        }
    }

    // how many pages or li show before the current li
    if (page == totalPages) {
        beforePage = page - 1;
    } else if (page == totalPages - 1) {
        beforePage = totalPages - 1;
    }
    // how many pages or li show after the current li
    if (page == 1) {
        afterPage = afterPage + 2;
    } else if (page == 2) {
        afterPage = afterPage + 1;
    }

    for (var plength = beforePage; plength <= afterPage; plength++) {
        if (plength > totalPages) {
        //if plength is greater than totalPage length then continue
        continue;
        }
        if (plength == 0) {
        //if plength is 0 than add +1 in plength value
        plength = plength + 1;
        }
        if (page == plength) {
        //if page is equal to plength than assign active string in the active variable
        active = "active";
        } else {
        //else leave empty to the active variable
        active = "";
        }
        liTag += `<li class="numb ${active}" onclick="createPagination(totalPages, ${plength})"><a href="/admin/categories/page/${plength}/${totalPages}"><span>${plength}</span></a></li>`;
    }

    if (page < totalPages - 1) {
        //if page value is less than totalPage value by -1 then show the last li or page
        if (page < totalPages - 2) {
        //if page value is less than totalPage value by -2 then add this (...) before the last li or page
        liTag += `<li class="dots"><span style="color: #069C54">...</span></li>`;
        }
        // liTag += `<li class="last numb" onclick="createPagination(totalPages, ${totalPages})"><a href="/admin/categories/page/${totalPages}/${totalPages}"><span>${totalPages}</span></a></li>`;
    }

    if (page < totalPages) {
        //show the next button if the page value is less than totalPage(20)
        liTag += `<li class="btn2 next" onclick="createPagination(totalPages, ${
        page + 1
        })"><a href="/admin/categories/page/${page + 1}/${totalPages}"><span>Next</span></a></li>`;
    }
    element.innerHTML = liTag; //add li tag inside ul tag
    return liTag; //return the li tag
    }

</script>


<%- include ('../views/_layouts/footer1') %> 