<%- include ('../views/_layouts/adminheader1') %> 
<section class="about section bd-container">
    <div class="containermax">
        <h1 class="page-title">Categories</h1>
        <a href="/admin/categories/add-category" class="button">Add a new Category</a>
        <br> <br><br><br>

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>

                <% categories.forEach(cat => { %>

                <tr>
                    <td> <%= cat.title %>  </td>
                    <td><a href="/admin/categories/edit-category/<%= cat.id %>">Edit</a></td>
                    
                    <td><a class="confirmDeletion" href="/admin/categories/delete-category/<%= cat._id %>">Delete</a></td>
                    
                </tr> 

                <% }) %>

            </tbody>

        </table>
    
        </div>
        </section>


<%- include ('../views/_layouts/footer1') %> 